@keyframes slideIn {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes blink {
    0% {background-color: $gray-3;}
    50% {background-color: rgba(237,236,233, 0.9);}
    100% {background-color: $gray-3;}
}