*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-all;

  @media (max-width: $screen-xs) {
    word-break: keep-all;
  }
}

body {
  font-family: $default;
  -webkit-font-smoothing: auto;
  @include sizing(100vw, 100vh);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $white;
  font-size: $fs-medium;
  color: $black-8;
  font-weight: $fw-400;
}

@media (max-width: $screen-xs) {
  body {
    font-size: $fs-xs;
  }
}

::selection {
  background-color: $gray-2;
}

::-webkit-scrollbar {
  height: 8px;
  width: 11px;
  padding: 50px;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 4px;
}

:-webkit-any-link {
  color: $black-5;
  transition: color 0.3s;

  &:hover {
    color: $black-9 !important;
  }
}

.hover-default {
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 3px;
  transition: background-color 0.1s;
  font-size: 0.85rem;
  font-weight: $fw-600;
  width: 100%;
  color: $black-5;

  &:hover {
    background-color: $gray;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  width: max-content;

  &:hover {
    border-radius: 10%;
    background-color: $black-1;
  }
}

.highlight {
  font-weight: $fw-900;
  text-decoration: underline;
}
