@mixin sizing($width, $height) {
    width: $width;
    height: $height;
  }
  
  @mixin spacing($mt: 0, $mr: 0, $mb: 0, $ml: 0, $pt: 0, $pr: 0, $pb: 0, $pl: 0) {
    margin: $mt $mr $mb $ml;
    padding: $pt $pr $pb $pl;
  }
  
  @mixin spacing-2($mx: 0, $my: 0, $px: 0, $py: 0) {
    margin: $my $mx;
    padding: $py $px;
  }
  
  @mixin flex-layout($flex-direction: column, $row-gap: 0, $column-gap: 0) {
    display: flex;
    flex-direction: $flex-direction;
    row-gap: $row-gap;
    column-gap: $column-gap;
  }
  
  @mixin grid-layout($grid-template-columns: 1fr, $row-gap: 0, $column-gap: 0) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    row-gap: $row-gap;
    column-gap: $column-gap;
  }
  
  @mixin language($bg-color: $white, $color: $black, $border-color: $black-4) {
    border-radius: 50px;
    border: 1px solid $border-color;
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: border 1000s;
    font-weight: $fw-500;
  
    &:hover {
      background-color: $bg-color;
      border: 1px solid $black-2;
      color: $color !important;
    }
  }