/* default responsiveness */
@media(max-width: 480px) {
    .page-wrapper .page-content {
        width: 70%;
    }

    .page-full-width {
        .about {
            grid-template-columns: 1fr !important;
            row-gap: 20px !important;
        }

        .page-content {
            width: 100%;
        }
    }

    .main-content-wrapper { 
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

@media((min-width: 480.1px) and (max-width: 767px)) {
    .page-full-width .about { grid-template-columns: 7fr 5fr !important; }
}

@media((min-width: 767.1px) and (max-width: 991px)) {
    .page-full-width .about { grid-template-columns: 5fr 7fr !important; }
}

@media((min-width: 991.1px) and (max-width: 1199px)) {
    .page-full-width .about { grid-template-columns: 4fr 8fr !important; }
}

@media((min-width: 1199.1px) and (max-width: 1919px)) {
    .page-full-width .about { grid-template-columns: 3fr 9fr !important; }
}

@media(min-width: 1919.1px) {
    .page-full-width .about { grid-template-columns: 2fr 10fr !important; }
}


/*modal*/
.modal {
    @media (min-width: 1702px) { width: 35%; }
    @media (min-width: 1602px) and (max-width: 1701px) { width: 40% !important; }
    @media (min-width: 1502px) and (max-width: 1601px) { width: 45% !important; }
    @media (min-width: 1402px) and (max-width: 1501px) { width: 50% !important; }
    @media (min-width: 1302px) and (max-width: 1401px) { width: 55% !important; }
    @media (min-width: 1202px) and (max-width: 1301px) { width: 60% !important; }
    @media (min-width: 991px) and (max-width: 1201px) { width: 65% !important; }
}

@media(max-width: 767px) {
    .modal-content .themes-wrapper {
        grid-template-columns: 1fr !important;
        row-gap: 3rem !important;
    }

    .themes {
        &__theme-wrapper {
            justify-items: center !important;
        }
    }
}