@mixin defineTheme(
  $text,
  $bg,
  $bgOverlap,
  $bgGap,
  $bgHover,
  $activeColor,
  $link
) {
  background-color: $bg;
  color: $text;

  li,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  button,
  .gallery__card-footer-icon.icon {
    color: $text !important;
  }

  .menu,
  .header,
  ::-webkit-scrollbar-track {
    background-color: $bg;
  }

  .modal,
  .header-menu .menu,
  .footer,
  .gallery__card-footer,
  .nav-hover .nav-list {
    background-color: $bgOverlap !important;
  }

  .main-container-click .aside-click,
  .header__tabs {
    background-color: $bgGap;
  }

  .hover-default:hover,
  .toggle-btn.unchecked,
  .callout,
  .header__tab {
    background-color: $bgHover !important;
  }

  .header-menu__font-wrapper--active .header-menu__ag {
    color: $activeColor !important;
  }

  .toggle-btn.checked {
    background-color: $activeColor !important;
  }

  .language {
    @include language($baby-purple, $bg, $text);
  }

  ::-webkit-scrollbar-thumb {
    background-color: $text;
  }

  :-webkit-any-link {
    color: $text;

    &:hover {
      color: $link !important;
    }
  }
}

.dark-theme {
  @include defineTheme(
    $white,
    $dark,
    $black,
    $black-4,
    $gray-3,
    $active,
    $gray
  );
}

.cat-latte {
  @include defineTheme(
    $latte-text,
    $latte-base,
    $latte-surface0,
    $latte-mantle,
    $latte-surface1,
    $latte-sky,
    $latte-overlay2
  );
}

.cat-mocha {
  @include defineTheme(
    $mocha-text,
    $mocha-base,
    $mocha-mantle,
    $mocha-surface0,
    $mocha-overlay0,
    $mocha-sapphire,
    $mocha-subtext0
  );
}
