@mixin defineTheme(
  $text,
  $textLighter,
  $bg,
  $bgAsideClick,
  $bgAsideHover,
  $bgHover,
  $bgTabs,
  $activeColor,
  $link
) {
  background-color: $bg;
  color: $text;

  li,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  button,
  table,
  td,
  tr,
  th,
  .gallery__card-footer-icon.icon {
    color: $text !important;
  }

  .main-container-click .aside-click span,
  .main-container-click .aside-click div,
  .main-container-click .aside-click li {
    color: $textLighter !important;
  }

  .main-container-click .aside-click {
    background-color: $bgAsideClick !important;
    box-shadow: $bgHover 0px 0px 3px -1px inset !important;
  }

  .tabs {
    background-color: $bgTabs !important;
  }

  .header,
  .tabs__tab--active,
  .tabs__tab--active:hover {
    background-color: $bg !important;
  }

  .modal,
  .footer,
  .gallery__card-footer,
  .nav-hover .nav-list,
  .toggle-btn.unchecked,
  .header-menu .menu,
  .callout {
    background-color: $bgAsideHover !important;
  }

  .multi-select > div {
    color: $dark !important;
  }

  .hover-default:hover,
  .button:hover,
  .tabs__tab:hover,
  .nav-link__toggle-list--active .details > .details__summary {
    background-color: $bgHover !important;
  }

  .menu,
  .webkit::-webkit-scrollbar-track,
  .tabs__add:hover {
    background-color: $bg !important;
  }

  .tabs__tab {
    border-right-color: $bgHover !important;
  }

  .header-menu__font-wrapper--active .header-menu__ag {
    color: $activeColor !important;
  }

  .toggle-btn.checked {
    background-color: $activeColor !important;
  }

  .webkit::-webkit-scrollbar-thumb {
    background-color: $text;
  }

  :-webkit-any-link {
    color: $text;

    &:hover {
      color: $link !important;
    }
  }

  .main-container-click
    .aside-click
    .nav-link__toggle-list--active
    .nav-link__pagename {
    color: $text !important;
  }
}

.dark-theme {
  @include defineTheme(
    $white,
    #a8a8a8,
    $dark,
    $dark-lighter,
    $black,
    $gray-3,
    $gray-1,
    $active,
    $gray
  );
}

.cat-latte {
  @include defineTheme(
    $latte-text,
    $latte-subtext0,
    $latte-mantle,
    $latte-base,
    $latte-surface0,
    $latte-surface1,
    $latte-surface0,
    $latte-sky,
    $latte-overlay2
  );
}

.cat-mocha {
  @include defineTheme(
    $mocha-text,
    $mocha-subtext0,
    $mocha-crust,
    $mocha-base,
    $mocha-mantle,
    $mocha-surface1,
    $mocha-base,
    $mocha-sapphire,
    $mocha-subtext0
  );
}
