@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors default */
/*dark theme default*/
/*colors catppuccin latte*/
/*colors catppuccin mocha*/
/*font*/
/*font weight*/
/*box shadow*/
/* font size dinamic */
/* screen size */
*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-all;
}
@media (max-width: 480px) {
  *,
  *::before,
  *::after {
    word-break: keep-all;
  }
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  -webkit-font-smoothing: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}
@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
}

::selection {
  background-color: rgba(237, 236, 233, 0.2);
}

::-webkit-scrollbar {
  height: 8px;
  width: 11px;
  padding: 50px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

:-webkit-any-link {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
}
:-webkit-any-link:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.hover-default {
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 3px;
  transition: background-color 0.1s;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
}
.hover-default:hover {
  background-color: rgb(237, 236, 233);
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  width: max-content;
}
.button:hover {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}

.highlight {
  font-weight: 900;
  text-decoration: underline;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    background-color: rgba(237, 236, 233, 0.3);
  }
  50% {
    background-color: rgba(237, 236, 233, 0.9);
  }
  100% {
    background-color: rgba(237, 236, 233, 0.3);
  }
}
.dark-theme {
  background-color: #212529;
  color: rgb(255, 255, 255);
}
.dark-theme li,
.dark-theme span,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme div,
.dark-theme button {
  color: rgb(255, 255, 255) !important;
}
.dark-theme .menu {
  background-color: #212529;
}
.dark-theme .modal,
.dark-theme .header-menu .menu {
  background-color: rgb(0, 0, 0);
}
.dark-theme .main-container-click .aside-click,
.dark-theme .nav-hover .nav-list {
  background-color: rgba(0, 0, 0, 0.4);
}
.dark-theme .header-menu__font-wrapper--active .header-menu__ag {
  color: rgb(35, 131, 226) !important;
}
.dark-theme .toggle-btn.unchecked {
  background-color: rgba(237, 236, 233, 0.4) !important;
}
.dark-theme .toggle-btn.checked {
  background-color: rgb(35, 131, 226) !important;
}
.dark-theme .github__gallery-menu, .dark-theme .github__gallery-menu-item:nth-child(1) {
  border-color: rgb(255, 255, 255);
}
.dark-theme .github button {
  color: rgb(255, 255, 255) !important;
}
.dark-theme .github__repo-wrapper {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.dark-theme .footer span {
  background-color: rgb(0, 0, 0) !important;
}
.dark-theme .language {
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: border 1000s;
  font-weight: 500;
}
.dark-theme .language:hover {
  background-color: #cdb4db;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #212529 !important;
}
.dark-theme .hover-default:hover {
  background-color: rgba(237, 236, 233, 0.5) !important;
}
.dark-theme ::-webkit-scrollbar-track {
  background-color: #212529;
}
.dark-theme ::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}
.dark-theme :-webkit-any-link {
  color: rgb(237, 236, 233);
  transition: color 0.3s;
}
.dark-theme :-webkit-any-link:hover {
  color: rgb(255, 255, 255) !important;
}

.cat-latte {
  background-color: #eff1f5;
  color: #4c4f69;
}
.cat-latte li,
.cat-latte span,
.cat-latte h1,
.cat-latte h2,
.cat-latte h3,
.cat-latte h4,
.cat-latte h5,
.cat-latte h6,
.cat-latte div,
.cat-latte button {
  color: #4c4f69 !important;
}
.cat-latte .modal,
.cat-latte .header-menu .menu {
  background-color: #bcc0cc;
}
.cat-latte .menu,
.cat-latte .main-container-click .aside-click,
.cat-latte .nav-hover .nav-list {
  background-color: #ccd0da;
}
.cat-latte .header-menu__font-wrapper--active .header-menu__ag {
  color: #8839ef !important;
}
.cat-latte .toggle-btn.unchecked {
  background-color: #9ca0b0 !important;
}
.cat-latte .toggle-btn.checked {
  background-color: #8839ef !important;
}
.cat-latte .language {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: border 1000s;
  font-weight: 500;
}
.cat-latte .language:hover {
  background-color: #df8e1d;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #e6e9ef !important;
}
.cat-latte .modal span {
  border-color: #4c4f69;
}
.cat-latte .themes:nth-child(2) .themes__theme-wrapper span {
  color: #e6e9ef !important;
}
.cat-latte .hover-default:hover {
  background-color: #acb0be !important;
}
.cat-latte ::-webkit-scrollbar-track {
  background-color: #e6e9ef;
}
.cat-latte ::-webkit-scrollbar-thumb {
  background-color: #212529;
}

.cat-mocha {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
.cat-mocha li,
.cat-mocha span,
.cat-mocha h1,
.cat-mocha h2,
.cat-mocha h3,
.cat-mocha h4,
.cat-mocha h5,
.cat-mocha h6,
.cat-mocha div,
.cat-mocha button {
  color: #cdd6f4 !important;
}
.cat-mocha .modal,
.cat-mocha .header-menu .menu {
  background-color: #585b70;
}
.cat-mocha .menu,
.cat-mocha .main-container-click .aside-click,
.cat-mocha .nav-hover .nav-list {
  background-color: #45475a;
}
.cat-mocha .github__gallery-menu, .cat-mocha .github__gallery-menu-item:nth-child(1) {
  border-color: #cdd6f4;
}
.cat-mocha .github button {
  color: #cdd6f4 !important;
}
.cat-mocha .github__repo-wrapper {
  border-color: #cdd6f4;
  color: #cdd6f4;
}
.cat-mocha .header-menu__font-wrapper--active .header-menu__ag {
  color: #cba6f7 !important;
}
.cat-mocha .toggle-btn.unchecked {
  background-color: rgba(237, 236, 233, 0.4) !important;
}
.cat-mocha .toggle-btn.checked {
  background-color: #cba6f7 !important;
}
.cat-mocha .footer span {
  background-color: #11111b !important;
}
.cat-mocha .modal span {
  border-color: #cdd6f4;
}
.cat-mocha .language {
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: border 1000s;
  font-weight: 500;
}
.cat-mocha .language:hover {
  background-color: #a6e3a1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #212529 !important;
}
.cat-mocha .hover-default:hover {
  background-color: #9399b2 !important;
}
.cat-mocha .themes:nth-child(1) .themes__theme-wrapper span {
  color: #1e1e2e !important;
}
.cat-mocha .themes:nth-child(2) .themes__theme-wrapper div {
  border: 1px solid #cdd6f4;
}
.cat-mocha .sandwich-svg line,
.cat-mocha .chevron-svg line,
.cat-mocha .search-svg line {
  stroke: #cdd6f4;
}
.cat-mocha .search-svg circle,
.cat-mocha .settings-svg circle {
  stroke: #cdd6f4;
}
.cat-mocha .settings-svg path,
.cat-mocha .github-repo-svg path {
  fill: #cdd6f4;
}
.cat-mocha .dots-svg rect {
  fill: #cdd6f4;
}
.cat-mocha .gallery-svg path,
.cat-mocha .link-svg path {
  stroke: #cdd6f4;
}
.cat-mocha ::-webkit-scrollbar-track {
  background-color: #1e1e2e;
}
.cat-mocha ::-webkit-scrollbar-thumb {
  background-color: #cdd6f4;
}
.cat-mocha :-webkit-any-link {
  color: #6c7086;
  transition: color 0.3s;
}
.cat-mocha :-webkit-any-link:hover {
  color: #cdd6f4 !important;
}

/*# sourceMappingURL=main.css.map */
