@use "var";
@use "mixin";

*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-word;
}

.webkit {
  ::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    padding: 50px;
  }

  ::-webkit-scrollbar-track {
    background-color: var.$white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var.$black;
    border-radius: 4px;
  }
}

body {
  font-family: var.$default;
  -webkit-font-smoothing: auto;
  @include mixin.sizing(100vw, 100vh);
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var.$white;
  font-size: var.$fs-medium;
  color: var.$black-8;
  font-weight: var.$fw-400;
  @extend .webkit;

  @media (max-width: var.$screen-xs) {
    font-size: var.$fs-small;
  }
}

::selection {
  background-color: var.$gray-2;
}

:-webkit-any-link {
  color: var.$black-5;
  transition: color 0.3s;

  &:hover {
    color: var.$black-9 !important;
  }
}

.hover-default {
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 3px;
  transition: background-color 0.1s;
  font-size: 0.85rem;
  font-weight: var.$fw-600;
  width: 100%;
  color: var.$black-5;

  &:hover {
    background-color: var.$gray;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  width: max-content;

  &:hover {
    border-radius: 10%;
    background-color: var.$black-1;
  }
}

.highlight {
  font-weight: var.$fw-900;
  text-decoration: underline;
}
