@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* colors default */
/*dark theme default*/
/*colors catppuccin latte*/
/*colors catppuccin mocha*/
/*font*/
/*font weight*/
/*box shadow*/
/* font size dinamic */
/* screen size */
/* colors default */
/*dark theme default*/
/*colors catppuccin latte*/
/*colors catppuccin mocha*/
/*font*/
/*font weight*/
/*box shadow*/
/* font size dinamic */
/* screen size */
*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-word;
}

.webkit ::-webkit-scrollbar, body ::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  padding: 50px;
}

.webkit ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.webkit ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  -webkit-font-smoothing: auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }
}
::selection {
  background-color: rgba(237, 236, 233, 0.2);
}

:-webkit-any-link {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
}

:-webkit-any-link:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.hover-default {
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 3px;
  transition: background-color 0.1s;
  font-size: 0.85rem;
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.hover-default:hover {
  background-color: rgb(237, 236, 233);
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0.1rem;
  width: max-content;
}

.button:hover {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}

.highlight {
  font-weight: 900;
  text-decoration: underline;
}

/* colors default */
/*dark theme default*/
/*colors catppuccin latte*/
/*colors catppuccin mocha*/
/*font*/
/*font weight*/
/*box shadow*/
/* font size dinamic */
/* screen size */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    background-color: rgba(237, 236, 233, 0.3);
  }
  50% {
    background-color: rgba(237, 236, 233, 0.9);
  }
  100% {
    background-color: rgba(237, 236, 233, 0.3);
  }
}
/* colors default */
/*dark theme default*/
/*colors catppuccin latte*/
/*colors catppuccin mocha*/
/*font*/
/*font weight*/
/*box shadow*/
/* font size dinamic */
/* screen size */
.dark-theme {
  background-color: #171a1b;
  color: rgb(255, 255, 255);
}

.dark-theme li,
.dark-theme span,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme div,
.dark-theme button,
.dark-theme table,
.dark-theme td,
.dark-theme tr,
.dark-theme th,
.dark-theme .gallery__card-footer-icon.icon {
  color: rgb(255, 255, 255) !important;
}

.dark-theme .main-container-click .aside-click span,
.dark-theme .main-container-click .aside-click div,
.dark-theme .main-container-click .aside-click li {
  color: #a8a8a8 !important;
}

.dark-theme .main-container-click .aside-click {
  background-color: #222222 !important;
  box-shadow: rgba(237, 236, 233, 0.3) 0px 0px 3px -1px inset !important;
}

.dark-theme .tabs {
  background-color: rgba(237, 236, 233, 0.1) !important;
}

.dark-theme .header,
.dark-theme .tabs__tab--active,
.dark-theme .tabs__tab--active:hover {
  background-color: #171a1b !important;
}

.dark-theme .modal,
.dark-theme .modal-static,
.dark-theme .modal-dynamic,
.dark-theme .footer,
.dark-theme .gallery__card-footer,
.dark-theme .nav-hover .nav-list,
.dark-theme .toggle-btn.unchecked,
.dark-theme .header-menu .menu,
.dark-theme .callout {
  background-color: rgb(0, 0, 0) !important;
}

.dark-theme .multi-select > div {
  color: #171a1b !important;
}

.dark-theme .hover-default:hover,
.dark-theme .button:hover,
.dark-theme .tabs__tab:hover,
.dark-theme .nav-link__toggle-list--active .details > .details__summary {
  background-color: rgba(237, 236, 233, 0.3) !important;
}

.dark-theme .menu,
.dark-theme .webkit::-webkit-scrollbar-track,
.dark-theme .tabs__add:hover {
  background-color: #171a1b !important;
}

.dark-theme .tabs__tab {
  border-right-color: rgba(237, 236, 233, 0.3) !important;
}

.dark-theme .header-menu__font-wrapper--active .header-menu__ag {
  color: rgb(35, 131, 226) !important;
}

.dark-theme .toggle-btn.checked {
  background-color: rgb(35, 131, 226) !important;
}

.dark-theme .webkit::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.dark-theme :-webkit-any-link {
  color: rgb(255, 255, 255);
}

.dark-theme :-webkit-any-link:hover {
  color: rgb(237, 236, 233) !important;
}

.dark-theme .main-container-click .aside-click .nav-link__toggle-list--active .nav-link__pagename {
  color: rgb(255, 255, 255) !important;
}

.dark-theme .bookmark {
  border-color: #a8a8a8;
}

.cat-latte {
  background-color: #e6e9ef;
  color: #4c4f69;
}

.cat-latte li,
.cat-latte span,
.cat-latte h1,
.cat-latte h2,
.cat-latte h3,
.cat-latte h4,
.cat-latte h5,
.cat-latte h6,
.cat-latte div,
.cat-latte button,
.cat-latte table,
.cat-latte td,
.cat-latte tr,
.cat-latte th,
.cat-latte .gallery__card-footer-icon.icon {
  color: #4c4f69 !important;
}

.cat-latte .main-container-click .aside-click span,
.cat-latte .main-container-click .aside-click div,
.cat-latte .main-container-click .aside-click li {
  color: #6c6f85 !important;
}

.cat-latte .main-container-click .aside-click {
  background-color: #eff1f5 !important;
  box-shadow: #bcc0cc 0px 0px 3px -1px inset !important;
}

.cat-latte .tabs {
  background-color: #ccd0da !important;
}

.cat-latte .header,
.cat-latte .tabs__tab--active,
.cat-latte .tabs__tab--active:hover {
  background-color: #e6e9ef !important;
}

.cat-latte .modal,
.cat-latte .modal-static,
.cat-latte .modal-dynamic,
.cat-latte .footer,
.cat-latte .gallery__card-footer,
.cat-latte .nav-hover .nav-list,
.cat-latte .toggle-btn.unchecked,
.cat-latte .header-menu .menu,
.cat-latte .callout {
  background-color: #ccd0da !important;
}

.cat-latte .multi-select > div {
  color: #171a1b !important;
}

.cat-latte .hover-default:hover,
.cat-latte .button:hover,
.cat-latte .tabs__tab:hover,
.cat-latte .nav-link__toggle-list--active .details > .details__summary {
  background-color: #bcc0cc !important;
}

.cat-latte .menu,
.cat-latte .webkit::-webkit-scrollbar-track,
.cat-latte .tabs__add:hover {
  background-color: #e6e9ef !important;
}

.cat-latte .tabs__tab {
  border-right-color: #bcc0cc !important;
}

.cat-latte .header-menu__font-wrapper--active .header-menu__ag {
  color: #04a5e5 !important;
}

.cat-latte .toggle-btn.checked {
  background-color: #04a5e5 !important;
}

.cat-latte .webkit::-webkit-scrollbar-thumb {
  background-color: #4c4f69;
}

.cat-latte :-webkit-any-link {
  color: #4c4f69;
}

.cat-latte :-webkit-any-link:hover {
  color: #7c7f93 !important;
}

.cat-latte .main-container-click .aside-click .nav-link__toggle-list--active .nav-link__pagename {
  color: #4c4f69 !important;
}

.cat-latte .bookmark {
  border-color: #6c6f85;
}

.cat-mocha {
  background-color: #11111b;
  color: #cdd6f4;
}

.cat-mocha li,
.cat-mocha span,
.cat-mocha h1,
.cat-mocha h2,
.cat-mocha h3,
.cat-mocha h4,
.cat-mocha h5,
.cat-mocha h6,
.cat-mocha div,
.cat-mocha button,
.cat-mocha table,
.cat-mocha td,
.cat-mocha tr,
.cat-mocha th,
.cat-mocha .gallery__card-footer-icon.icon {
  color: #cdd6f4 !important;
}

.cat-mocha .main-container-click .aside-click span,
.cat-mocha .main-container-click .aside-click div,
.cat-mocha .main-container-click .aside-click li {
  color: #a6adc8 !important;
}

.cat-mocha .main-container-click .aside-click {
  background-color: #1e1e2e !important;
  box-shadow: #45475a 0px 0px 3px -1px inset !important;
}

.cat-mocha .tabs {
  background-color: #1e1e2e !important;
}

.cat-mocha .header,
.cat-mocha .tabs__tab--active,
.cat-mocha .tabs__tab--active:hover {
  background-color: #11111b !important;
}

.cat-mocha .modal,
.cat-mocha .modal-static,
.cat-mocha .modal-dynamic,
.cat-mocha .footer,
.cat-mocha .gallery__card-footer,
.cat-mocha .nav-hover .nav-list,
.cat-mocha .toggle-btn.unchecked,
.cat-mocha .header-menu .menu,
.cat-mocha .callout {
  background-color: #181825 !important;
}

.cat-mocha .multi-select > div {
  color: #171a1b !important;
}

.cat-mocha .hover-default:hover,
.cat-mocha .button:hover,
.cat-mocha .tabs__tab:hover,
.cat-mocha .nav-link__toggle-list--active .details > .details__summary {
  background-color: #45475a !important;
}

.cat-mocha .menu,
.cat-mocha .webkit::-webkit-scrollbar-track,
.cat-mocha .tabs__add:hover {
  background-color: #11111b !important;
}

.cat-mocha .tabs__tab {
  border-right-color: #45475a !important;
}

.cat-mocha .header-menu__font-wrapper--active .header-menu__ag {
  color: #74c7ec !important;
}

.cat-mocha .toggle-btn.checked {
  background-color: #74c7ec !important;
}

.cat-mocha .webkit::-webkit-scrollbar-thumb {
  background-color: #cdd6f4;
}

.cat-mocha :-webkit-any-link {
  color: #cdd6f4;
}

.cat-mocha :-webkit-any-link:hover {
  color: #a6adc8 !important;
}

.cat-mocha .main-container-click .aside-click .nav-link__toggle-list--active .nav-link__pagename {
  color: #cdd6f4 !important;
}

.cat-mocha .bookmark {
  border-color: #a6adc8;
}

/*# sourceMappingURL=main.css.map */
